#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchBar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.searchBar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.testButton {
  display: flex;
  gap: 15px;

  transform: translateX(1125px);
}

.testButton button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 20px;

  transform: translateX(-200px);
}
